.log{
  @extend %container-width;
  background-color: black;
  color: black;
  border-radius: $border-radius;
  line-height: 1.5;
  height: 400px;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  font-size: 10px;
  letter-spacing: 0.7px;

  &__body{
    max-width: 95%;
    margin: 0 auto;
    position: relative;
    color: #00ff00;
  }

  &__user{
    display: inline-block;
    margin: 5px 0;

    &:last-child{
      &:after{
        content: '';
        display: inline-block;
        background: #00ff00;
        height: 12px;
        width: 5px;
        position: absolute;
        margin-left: 1em;
        animation: blink .4s alternate infinite;
        cursor: auto;
      }
    }
  }

  @keyframes blink {
    from {
      background: #00ff00;
    }
    to {
      background: #000;
    }
  }
}